/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'Alata';
    src: url('./assets/fonts/Alata-Regular.ttf');
}
@font-face {
    font-family: 'Handjet';
    src: url('./assets/fonts/Handjet-VariableFont_ELGR\,ELSH\,wght.ttf');
}

@font-face {
    font-family: 'Noto Sans';
    src: url('./assets/fonts/NotoSans-Regular.ttf');
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    top {top:0; opacity: 1;}
}
@keyframes animatetop {
    from {top:-300px; opacity: 0;}
    to {top:0; opacity: 1;}
}

body {
    background-image: url("assets/images/blob-scene-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
    font-family: 'Alata';
    font-weight: 500;
}


header {
    font-family: 'Handjet';
    font-size: 5rem;
    font-weight: bold;
    grid-area: header;
}

input {
    display: block;
}


button#todo-submit,
button#project-submit {
    display: block;
    margin: auto;
}
#content {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas: 
        "header header"
        "sidebar main";
    
}

#sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 2fr 3fr;
    grid-template-areas: 
        "sorted"
        "all-projects";
    
}

#date-sorted {
    grid-area: sorted;
    margin: 1rem 1rem 1rem 0;
    font-size: 1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#projects {
    grid-area: all-projects;
}

#project-header {
    font-family: "Handjet";
    font-size: 3rem;
    grid-area: header;
    display: inline;
}
#projects-container {
    margin-top: 1rem;
    font-size: 1.5rem;
}

#main {
    grid-area: main;
}

#new-todo-button {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    border-style: none;
    background-color: transparent;
}

#new-todo-button img {
    height: 5rem;
    border-radius: 0.5rem; 
    transition: transform .5s ease-in-out;
}

#new-todo-button img:hover {
    filter: invert(1) sepia(1) saturate(20) hue-rotate(57.6deg);
    transform: scale(1.2);

}

#new-project-button {
    border-style: none;
    background-color: transparent;
    position: relative;
    top: 0.2rem;
    right: 0.1rem;
}

#new-project-button img {
    height: 2rem;
    transition: transform .5s ease-in-out;
}

#new-project-button img:hover {
    filter: invert(1) sepia(1) saturate(20) hue-rotate(57.6deg);
    transform: scale(1.2) rotate(180deg);
   
}

.dated {
    cursor: grab;
}

.dated:hover {
    font-size: 2rem;
}

.modal {
    display: grid;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
} */
.modal-content {
    display: grid;
    position: relative;
    background-color: #f3f4f6;
    padding: 20px;
    margin: auto;
    width: max-content;
    height: max-content;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 12px;
    place-self: center;
}

.project {
    margin: 1rem 0;
    cursor: grab;
    transition: all .2s ease-in-out;
    display: flex;
    column-gap: .75rem;
}

.project>p:hover {
    font-size: 1.7rem;
}

.selected {
    text-decoration: underline;

}
.todo-element {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 2rem;
    align-items: center;
    border-style: ridge;
    border-width: 5px;
    border-color: #cc99ff;
    width: 80%;
    margin: 1rem 0;
    padding: .8rem 0;
    text-decoration: dashed;
    cursor: default;
}
.todo-element input[type="checkbox"] {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 1rem;
}

.todo-element input[type=checkbox]:checked ~ p {
    text-decoration: line-through;
    color: gray;
}

.todo-title, 
.todo-date {
    font-size: 1.5rem;
}

.todo-date {
    margin-left: auto;
    margin-right: 2rem;
}

.todo-description {
    flex: 0 0 100%;
    font-size: 1.4rem;
    padding-left: 30%;
}

.hidden {
    display: none;
}





